@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #ffffff;
}

#chemistry {
  background-image: url('/chemisty.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 10vh;
  min-width: 10vh;

}
#dna {
  background-image: url('/dna.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 10vh;
  min-width: 10vh;
}

#image_ismail {
  border-radius: 50%;
  width: 160px;
  height: 180px;
  padding-top: 10px;
  object-fit: cover;
  object-position: right top;
}