@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #ffffff;
}

#chemistry {
  background-image: url('/chemisty.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 10vh;
  min-width: 10vh;

}
#dna {
  background-image: url('/dna.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 10vh;
  min-width: 10vh;
}